<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getDemoTH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E33E11B1DA88B9A0086FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E33E12F1DA88B9A0086FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E33E13A1DA88B9A0086FF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
